*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;

}

body{
    min-height: 100vh;
    background: url("../images/co2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 

}

.header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: seagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 32px;
    color:#fff;
    text-decoration:none;
    font-weight: 700;
    line-height: 1; 


}

.navbar {
    display: flex; 
    align-items: center; 

}

.navbar a{
    position: relative;
    font-size: 18px;
    color:#fff;
    font-weight: 500;
    text-decoration: none;
    margin-left:40px;
    line-height: 1; /* Add this line */

}

.navbar a::before{
    content:'';
    position: absolute;
    top:100%;
    left:0;
    width:0%;
    height : 2px;
    background: #fff;
    transition: 0.3s;

}

.navbar a:hover::before {
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 600px; 
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 200px;  
    height: 60px;  
    background-color: #4CAF50; /* Green background */
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049; /* Darker green on hover */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #121317;
  }
  .wrapper {
    position: absolute;
    width: 80vw;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }
  .container {
    width: 28vmin;
    height: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
    background-color: #21242b;
    border-bottom: 10px solid #0e9757;
  }
  i {
    color: #0e9757;
    font-size: 2.5em;
    text-align: center;
  }
  span.num {
    color: #ffffff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
  }
  span.text {
    color: #e0e0e0;
    font-size: 20px;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 0;
  }
  @media screen and (max-width: 1024px) {
    .wrapper {
      width: 85vw;
    }
    .container {
      height: 26vmin;
      width: 26vmin;
      font-size: 12px;
    }
  }
  @media screen and (max-width: 768px) {
    .wrapper {
      width: 90vw;
      flex-wrap: wrap;
      gap: 30px;
    }
    .container {
      width: calc(50% - 40px);
      height: 30vmin;
      font-size: 14px;
    }
  }
  @media screen and (max-width: 480px) {
    .wrapper {
      gap: 15px;
    }
    .container {
      width: 100%;
      height: 25vmin;
      font-size: 8px;
    }
  }